.container{
    height: 400px;
    width:100%;
  
    padding-left: 10%;
    padding-top: 40px;
    background-image: url("/1dubai.jpg");
    display: flex;
    flex-direction: column;
}

.large{
color:white;
font-size: 22px;
margin-top: 25px;
}

.small{
    color:white;
    font-size: 16px;
}

.buttom{position: absolute;
    
    height:70px;
    width:100%;
    background-color: red;
    justify-self: flex-end;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
}