.container{
    border-style: solid none solid none;
    border-width: 1px;
    border-color:#e5e5e5;
    height:70px;
    margin-top: 0px;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}

.servicecontainer{
    display:flex;
    gap:25px
}

.button{
    height:70px;
    cursor: "pointer";
        user-select: "none";
        -moz-user-select: "none";
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 700;
        font-size: 13px;
        color: black;
        
        
}
.button:hover{
    border-width: 4px;
    color:red;
    border-style: solid none none none;
    border-color: #e5e5e5;
    cursor: "pointer";
    user-select: "none";
  
}

.apply{
    background-color: #FF0000;
    height: 31px;
    align-self: center;
    color: white;
    border-radius: 22px;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logocontainer{
    margin-top: 5px;
    display: flex;


}

.logodesc{
    margin-left:16px;
    margin-top: 0px;
    color:#398dd6;
    
    font-weight: 500;
    font-size: 16px;
}

.logoheading{
    font-family: serif;
    font-size: 28px;
    font-weight: 500;
}
